@charset "UTF-8";

/* 読み込んだフォント設定
font-family: 'Kosugi', sans-serif;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Noto Sans', sans-serif; 

フォントスタイルをgoogleフォントにするときに入れる
font-family: 選択フォント,sans-serif;
*/

html
{
font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(255, 255, 255);
}
.logo
{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  text-align: center;
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 10px;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
  margin-top: -0.5rem;
  transition: margin .3s;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tab-label{
  border-radius: 0;
  position: relative;
}

.tab-label:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #ddd #ddd;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
}
/*intro　タグ編集*/
.intro
{
  font-family: 'Kosugi', sans-serif;
  font-size:45px;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #AE3846;
  transform: rotate(-1deg);
}
/*intro-content1　タグ編集*/
.intro-content1
{
  font-family: 'Kosugi', sans-serif;
  font-size:30px;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #AE3846;
}
/*intro-content2　タグ編集*/
.intro-content2
{
  font-family: 'Kosugi Maru', sans-serif;
  font-size:20px;
  /* line-height:0.95em; */
  font-weight:normal;
  color: #222222;
  
}
/*Team タグ編集*/
.Team
{
  font-family: 'Kosugi Maru', sans-serif;
  font-size:20px;
  /* line-height:0.95em; */
  font-weight:bold;
  color: #222222;
}
/*powered_by　タグ編集*/
.powered_by{
  font-family: 'Kosugi', sans-serif;
  font-size: 10px;
  color: #222222;

}
/*video　配列設定*/
.video li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

div.slide-show {
  width: 1020px; /* スライドショーの幅 */
  max-width: 100%; /* スマホで表示が欠けないように */
  margin: 10px auto; /* 中央揃え */
  position: relative;
}

.slide-show img { 
  animation: show 56s infinite; /* 56秒のスライドショーを繰り返し */
  max-width: 100%;
  height: auto;
  opacity: 0;
  position: absolute; /* 画像を重ねて表示 */
  left: 0;
  top: 0;
}

@keyframes show {
  0% {opacity: 0}
  5% {opacity: 1}
  10% {opacity: 1}
  32% {opacity: 0}
}

.slide-show img:nth-of-type(1) {
  position: relative;
}

.slide-show img:nth-of-type(2) {
  animation-delay: 0s;
}

.slide-show img:nth-of-type(3) {
  animation-delay: 8s;
}

.slide-show img:nth-of-type(4) {
  animation-delay: 16s;
}
.slide-show img:nth-of-type(5) {
  animation-delay: 24s;
}
.slide-show img:nth-of-type(6) {
  animation-delay: 32s;
}
.slide-show img:nth-of-type(7) {
  animation-delay: 40s;
}
.slide-show img:nth-of-type(8) {
  animation-delay: 48s;
}