@charset "UTF-8";

/* 読み込んだフォント設定
font-family: 'Kosugi', sans-serif;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Noto Sans', sans-serif; 

フォントスタイルをgoogleフォントにするときに入れる
font-family: 選択フォント,sans-serif;
*/
/*htmlタグ編集*/
html
{
font-family: Arial, Helvetica, sans-serif;
width: 100vmax;
height: auto;
}
/*bodyタグ編集*/
body{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}
.header
{
  background: #406abc;
  width: 100%;
  height: 120px;
  position:static;
}
.header h1
{ 
  width: 100%;
  height: auto;
  font-size: auto;
  text-align: center;
  color: #fff;
  position: relative;
}

/*logoタグ編集*/
/*.logo
{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration:none;
  color:#fff;
}*/
.FirstArea
{
  position: relative;
}
.OCBox
{
  width: 30%;
  height: auto;
  background: #fff;
  border-radius: 45px;
  border: 5px solid #C13A48;
  z-index: 2;
  position: absolute;
  left: 5%;
  bottom: 10%;
}

.OCBox h2
{
  width: 20vw;
  height: auto;
  font-size: 2vw;
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  padding: 2% 2% 2% 2%;
  margin: 0 4vw 0 4vw ;
  border-bottom: 3px solid #FF1E1E;
}
.OCBox p
{
  font-family: 'Kosugi', sans-serif;
  font-size: 1vw;
  margin: 4vh 4vw 4vh 4vw;

}
.OCBox ul
{
  text-align: center;
  padding-right: 3vw;
  /*padding: 0vh 1vw 0vh auto;
  margin: 2vh 0 2vh 0;*/
}
/*URLリスト設定*/
.OCBox li
{
  text-align: center;
  display: inline;
  list-style-type: none;
}
/*アイコン設定*/
li#AnkateIcon
{
  background:#05468F ;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  transition:0.7s;
}
li#AnkateIcon:hover
{
  background: #3ca500;
}
.Icon
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration:none;

}
.OCBox a
{
  text-decoration:none ;
}
li#ClusterIcon
{
  background:#61C9FF ;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  transition:0.7s;
}
li#ClusterIcon:hover
{
  background:#0b2b1c;
}
li#YoutubeIcon
{
  background:#FF1E1E ;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  transition:0.7s;
}
li#YoutubeIcon:hover
{
  background: #05468F;
}

.NewsBox
{
  background: #fff;
  width: 30%;
  height: 20%;
  border-radius: 45px;
  border: 5px solid #006eff;
  z-index: 3;
  position: absolute;
  top: 5%;
  left:65%;
}
.NewsBox h2
{
  width: 20vw;
  height: auto;
  font-size: 2vw;
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  padding: 2% 2% 2% 2%;
  margin: 0 4vw 0 4vw ;
  border-bottom: 3px solid #1A8D1A;
}

.NewsBox iframe
{
  padding: 1vh 2vw 1vh 2vw;
  font-size: 2vw;
  width: 90%;
  height: 50%;
}

.TwitterBox
{
  background: #fff;
  width: 30%;
  height: 50%;
  border-radius: 45px;
  border: 5px solid #006eff;
  z-index: 3;
  position: absolute;
  left:65%;
  bottom: 10%;
}
.TwitterBox h2
{
  width: 20vw;
  height: auto;
  font-size: 2vw;
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  padding: 2% 2% 2% 2%;
  margin: 0 4vw 0 4vw ;
  border-bottom: 3px solid #1A8D1A;
}
.twitter-timeline
{
  margin: 1vh 2vw 1vh 2vw;
}

/*ProjectNameタグ編集*/
/*.ProjectName
{
 background: #05468F 0% 0% no-repeat padding-box;
 border-radius: 51px;
 opacity: 1;
 position: absolute;
 top: 300px;
 left: 570px;
 width: 800px;
 height: 200px;
 opacity: 0.9;
}

.ProjectName h1
{
 text-align: center;
 font-family:'Kosugi Maru', sans-serif ;
 font-size: 30px;
 line-height: 2.0;
 color: #fff;
 position: absolute;
 top:20px;
 left:100px
 
}*/
/*tab全体編集*/
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  top: auto;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #325A8C;
  display: block;
  order: -1;
}
/*tabラベル編集*/
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
/*tab中身編集*/
.tab-content {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}
.tab-switch:checked+.tab-label {
  background: #325A8C;
  margin-top: -0.5rem;
  transition: margin .3s;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tab-label{
  border-radius: 0;
  position: relative;
}

.tab-label:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #ddd #ddd;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
}

/*IntroBlock　タグ編集*/
/*.IntroBlock
{
  background: #303030;
  height: 500px;
}*/
/*InfomationIntro　タグ編集*/
/*.InformationIntro
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size:45px;
  width: 450px;
  height: 73px;
  color: #fff;
  border-bottom: 5px solid #1A8D1A;
  position: relative;
  top: 20px;
  left:400px
}*/
/*OCIntroタグ編集*/
/*.OCIntro
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size:45px;
  width: 450px;
  height: 73px;
  color: #fff;
  border-bottom: 5px solid #F25DAD;
  position: relative;
  top: 20px;
  left:400px
}*/
/*TwitterIntroタグ編集*/
/*.TwitterIntro
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size:45px;
  width: 450px;
  height: 73px;
  color: #fff;
  border-bottom: 5px solid #1A8D1A;
  position: relative;
  top: 20px;
  left:400px
}*/
/*introタグ編集*/
.intro
{
  font-family: 'Kosugi', sans-serif;
  font-size:45px;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #AE3846;
  transform: rotate(-1deg);
}
/*intro-content1　タグ編集*/
.intro-content1
{
  font-family: 'Kosugi', sans-serif;
  font-size:30px;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #AE3846;
}
/*intro-content2　タグ編集*/
.intro-content2
{
  font-family: 'Kosugi Maru', sans-serif;
  font-size:20px;
  /* line-height:0.95em; */
  font-weight:normal;
  color: #222222;
  
}
/*Team タグ編集*/
.Team
{
  font-family: 'Kosugi Maru', sans-serif;
  font-size:20px;
  /* line-height:0.95em; */
  font-weight:bold;
  color: #222222;
}
/*powered_by　タグ編集*/
.powered_by{
  font-family: 'Kosugi', sans-serif;
  font-size: 10px;
  color: #222222;

}
/*video　配列設定*/
.video li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
/*twitterタブ編集*/
/*.Twitter
{
 margin: 10px auto;
 position: relative;
 top: -300px;
 right: 10px;
 left:700px
 
 
}*/
/*最新情報タブ編集*/
/*.NewsTab
{
 margin: auto 10px;
 position: relative;
 top: 100px;
 left: 50px;
}*/
/*最新情報タブ編集*/
/*.NewsBox
{
  background: #fff;
  width: 1000px;
  height: 300px;
  border-radius: 45px;
  overflow:hidden;
  position: absolute;
  left: 450px;
}

.NewsBox iframe
{
  position: relative;
  top:10px;
}*/
/*オープンキャンパスタブの設定*/
/*.OCBlock
{
  background: #406ABC;
  width: 100%;
  height: 800px;

}*/
/*Youtube欄の設定*/
/*.YoutubeBox{
  background: #fff;
  width: 500px;
  height: 300px;
  border-radius: 45px;
  position: absolute;
  left:400px
}
.YoutubeBox h2
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  width: 400px;
  height: 60px;
  font-size: 40px;
  color: #303030;
  border-bottom: 5px solid #FF1313;
  position: absolute;
  top:10px;
  left:45px
}
.YoutubeBox p
{
  font-family: 'Kosugi', sans-serif;
  text-align: left;
  width: 470px;
  height: 50px;
  font-size:20px;
  padding-right: 5px;
  padding-left: 5px;
  color: #303030;
  position: relative;
  top:110px;
  left: 15px;
}


.YoutubeIcon
{
  background:#FF1313 ;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  top:135px;
  left: 150px;
  transition:0.7s;
}
.YoutubeIcon:hover
{
  background: #05468F;
}
.YoutubeIcon a
{
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  text-decoration:none;
  width: 200px;
  height: 50px;
  font-size: 30px;
  padding: 0,0,0,0;
  color: #fff;
  position: relative;
  top: 5px;
  left: 15px;
}*/
/*Cluster欄の設定*/
/*.ClusterBox
{
  background: #fff;
  width: 500px;
  height: 300px;
  border-radius: 45px;
  position: absolute;
  left:1000px
}
.ClusterBox h2
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size: 40px;
  width: 400px;
  height: 60px;
  color: #303030;
  border-bottom: 5px solid #097EBB;
  position: absolute;
  top:10px;
  left:45px
}
.ClusterBox p
{
  font-family: 'Kosugi', sans-serif;
  text-align: left;
  width: 470px;
  height: 50px;
  font-size:20px;
  padding-right: 5px;
  padding-left: 5px;
  color: #303030;
  position: relative;
  top:110px;
  left: 50px;
}
.ClusterIcon
{
  background:#0F98DF ;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  top:135px;
  left: 150px;
  transition:0.7s;
}
.ClusterIcon:hover
{
  background: #0b2b1c;
}
.ClusterIcon a
{
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  text-decoration:none;
  font-size: 30px;
  padding: 0,0,0,0;
  color: #fff;
  position: relative;
  top: 5px;
  left: 50px;
}*/

/*アンケート欄の設定*/
/*.AnkateBox
{
  background: #fff;
  width: 1000px;
  height: 300px;
  border-radius: 45px;
  position: absolute;
  top: 1850px;
  left: 450px;
}

.AnkateBox h2
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size: 40px;
  width: 400px;
  height: 60px;
  color: #303030;
  border-bottom: 5px solid #05468F;
  position: absolute;
  top:10px;
  left:300px
}
.AnkateBox p
{
  font-family: 'Kosugi', sans-serif;
  text-align: left;
  width: 900px;
  height: 50px;
  font-size:20px;
  padding-right: 5px;
  padding-left: 5px;
  color: #303030;
  position: relative;
  top:110px;
  left: 45px;
}
.AnkateIcon
{
  background:#05468F ;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  top: 135px;
  left: 350px;
  transition:0.7s;
}
.AnkateIcon:hover
{
  background: #3ca500;
}
.AnkateIcon a
{
  font-family: 'Kosugi', sans-serif;
  text-align: center;
  text-decoration:none;
  font-size: 30px;
  padding: 0,0,0,0;
  color: #fff;
  position: relative;
  top: 10px;
  left: 40px;
}

.TwitterBlock
{
  background: #303030;
  width: 100%;
  height: 800px;
}
.TwitterBox
{
  background: #fff;
  width: 700px;
  height: 600px;
  border-radius: 45px;
  position: absolute;
  left:600px
}
.TwitterContents
{
  position: absolute;
  top:40px;
  left:100px;
}*/

/*フッター設定*/
.footer
{
  background: #406abc;
  width: 100%;
  height: 120px;
}
.footer p
{
 text-align: center;
 font-family: 'Kosugi Maru', sans-serif;
 font-size: 30px;
 color:#fff;
 position: relative;
 top: 40px;
}


div.slide-show {
  width:100%; /* スライドショーの幅 */
  height: auto;
  max-width: 100%; /* スマホで表示が欠けないように */
  margin: 10px auto; /* 中央揃え */
  position: relative;
}

.slide-show img { 
  animation: show 56s infinite; /* 56秒のスライドショーを繰り返し */
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute; /* 画像を重ねて表示 */
  left: 0;
  top: 0;
}

@keyframes show {
  0% {opacity: 0}
  5% {opacity: 1}
  10% {opacity: 1}
  32% {opacity: 0}
}

.slide-show img:nth-of-type(1) {
  position: relative;
}

.slide-show img:nth-of-type(2) {
  animation-delay: 0s;
}

.slide-show img:nth-of-type(3) {
  animation-delay: 8s;
}

.slide-show img:nth-of-type(4) {
  animation-delay: 16s;
}
.slide-show img:nth-of-type(5) {
  animation-delay: 24s;
}
.slide-show img:nth-of-type(6) {
  animation-delay: 32s;
}
.slide-show img:nth-of-type(7) {
  animation-delay: 40s;
}
.slide-show img:nth-of-type(8) {
  animation-delay: 48s;
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 800px;
  padding: 100px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img 
{
  width: 100%;
  height: auto;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
.TGSPop
{
  width:100%;
  height: auto;
  position: absolute;
  top: 70%;
  left: 7.5%;
}
.TGSPop li
{
  text-align: center;
  display: inline;
  list-style-type: none; 
  border-right: 10%;
} 
.TGSPop a
{
  text-decoration:none;
}

li#GameShowIcon
{
  background: #FF1E1E;
  padding: 3% 3% 3% 3%;
  transition:0.7s;
}
li#TGSTUTIcon
{
  background: #FF1E1E;
  padding: 3% 3% 3% 3%;
  transition:0.7s;
}
li#GameShowIcon:hover
{
  background: #006eff;
}
li#TGSTUTIcon:hover
{
  background: #006eff;
}
.Icon2
{
  text-align: center;
  font-family: 'Kosugi', sans-serif;
  font-size: 2.25vh;
  color: #fff;
  text-decoration:none;
  padding: 3% 0% 3% 0%;
}
