html,body,#container {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #faf6f3;
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  background: #488a0d;
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}




header {
	position: static;
	margin: 0;
	height: auto;
	background: #99FF99;	
	padding: 5px 3%;	
}


header #logo img {
	position: static;
	width: 100px;	
	margin-bottom: 10px;	
}


footer {clear: both;text-align: center;font-size: 13px;padding-bottom: 10px;background-color: #99FF99}
footer a {text-decoration: none; color: #111111}
footer .pr {display: block;}
footer p {color: #1111;}

footer ul li {
	display: inline;
	padding: 10px;
}
footer ul a {
	text-decoration: underline;
}


#menubar {
	overflow: hidden;position: relative;z-index: 1;
	background: #fff;	
	background: rgba(255,255,255,0.95);	
}

#menubar ul li {
	float: left;		
	width: 16.6%;			
	font-size: 20px;	
	text-align: center;
}
#menubar ul li a {
	text-decoration: none;display: block;
	border-left: 1px solid #ccc;
	height: 80px;	
	padding-top: 5px;	
	color: #333;
}

#menubar li:first-child a {
	border-left: none;
}

#menubar li a span {
	display: block;
	font-size: 60%;	
	color: #999;
}

#menubar li a:hover {
	background: #330000;	
	color: #fff;		
}

#menubar-s {display: none;}
#menubar_hdr {display: none;}


body.is-fixed-menu #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;left: 0;
}
body.is-fixed-menu #contents {
	margin-top: 85px;
}

body.is-fixed #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;left: 0;
}
body.is-fixed #contents {
	margin-top: 85px;
}

#rogoImg {
  text-align:center;
  background-color: #EEEEEE;
  padding: 40px 5%;
}

#catchcopy {
  text-align: center;
  font-size: 3em;;
}

#contents {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1400px;
  padding: 40px 3%;
}


#contents h2 {
	clear: both;
	margin-bottom: 20px;
	text-align: center;		
	font-size: 48px;	
	letter-spacing: 0.1em;
	line-height: 1.4;	
	text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}

#contents h2 span {
	display: block;
	font-size: 13px;	
}


#contents p img {
  width: 50%;
  float: right;
  margin: 10px;
}

#contents h3 {
	clear: both;
	margin-bottom: 20px;
	text-align: center;	
	border-radius: 50px 25px 50px 25px / 50px 25px 50px 25px;
	border: 1px solid #fff;
 	padding: 1px 1%;	
	font-size: 1.5em;
	background: rgba(115, 66, 41, 0.8)
}

#contents p {
	padding: 0px 5% 20px;
}

#contents h2 + p,
#contents h3 + p,
#contents h2 + ul.disc,
#contents h3 + ul.disc {
	margin-top: -10px;
}
#contents section + section {
	padding-top: 40px;
}

#wrapper {
  position: relative;
  width: 960px;
  height: 3500px;
  margin: 0 auto;
  padding: 0;
}

#daSet {
  text-align: center;
}

#Csection {
	background:rgba(10,10,10,0.5);
	width: 50%;
	float: right;
}

/*
#first  { 
  background: url(TanmenImage/TestRacer2.png) 50% 0 no-repeat fixed;   
}
#second { 
  background: url(TanmenImage/TestRacer3.png) 50% 0 no-repeat fixed #488a0d;
}
#third  { 
  background: url(TanmenImage/TestRacer.PNG) 50% 0 no-repeat fixed #488a0d;
}
#end { 
  background: url(TanmenImage\utah-95032_1280.jpg) 50% 0 no-repeat fixed #FFF;
}
*/

#Ctitle {
	/*background: url(TanmenImage/TestRacer.PNG);*/
}
#Cfirst  { 
	background: url(TanmenImage/TestRacer2.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#Csecond { 
	background: url(TanmenImage/TestRacer3.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#Cthird { 
	background: url(TanmenImage/utah-95032_1280.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#Cmatter {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}